$primary-color: #333;
$secondary-color: rgba(244, 45, 23, 1);

// header//
$darkBlack: #222;
// body and footer heading colors //
$lesserBlacks: #575153;
$aqua: #21cece;
$white: #ffffff;
$grey: #989898;
$borderGrey: #e7e7e7;
$gradientGrey: #666665;
$footerGrey: #f8f8f8;
$text-color: $darkBlack;
